/*
Theme Name: Wordpress México
Theme URI: http://wpmex.org/
Description: Tema para Wordpress México
Author: Emiliano Hernández
Author URI: http://twitter.com/milioh/
Version: 1.0
Tags: wpmex, wordpress mexico

License: http://wpmex.org/
License URI: http://wpmex.org/

Development & Functions: @milioh
*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(font/2fcrYFNaTjcS6g4U3t-Y5bbKic1PW3nceB3q24YFOMg.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.nota { width: 300px; margin: 10px; }
.parallax-container { height: 240px; }